
table{
  width: 100%;
}
h1{
  text-align: center;
  margin:5%
}
.green-btn{
  background-color:green; color:white
}
.btn-red{
  background-color:red; color:white
}
.create-btn{
   position: absolute; right: 2%;
}