<h1 *ngIf="!isLoading"> <br>Please wait to get your contacts</h1>
<br>
<button mat-flat-button color="primary" class="create-btn"routerLink="create" *ngIf="isLoading" >Create New Contact</button>
<table mat-table [dataSource]="Contacts" class="mat-elevation-z8" *ngIf="isLoading">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let contact ,let i = index"> {{i+1}} </td>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let contact"> {{contact.firstname}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let contact"> {{contact.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let contact"> {{contact.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <tr><th mat-header-cell *matHeaderCellDef> Email </th></tr>
    <tr><td mat-cell *matCellDef="let contact"> {{contact.email}} </td></tr>
  </ng-container>

  <ng-container matColumnDef="edit" >
    <tr > <th mat-header-cell *matHeaderCellDef></th></tr>
    <tr> <td mat-cell *matCellDef="let contact">
       <button mat-flat-button color="primary" routerLink="edit/{{contact.id}}">Edit</button><button mat-flat-button class="green-btn" routerLink="{{contact.id}}">Details</button><button mat-flat-button color="accent" (click)="deleteContact(contact.id)"> Delete</button>
      </td> </tr>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
